@font-face {
    font-family: 'Madani Arabic';
    src: local('Madani Arabic'),
        url('../assets/fonts/MadaniArabic-Regular.ttf') format("truetype");
}


* {
    margin: 0;
    padding: 0;
    font-family: Madani Arabic;
    box-sizing: border-box;
}


body {
    background-color: #0d1117;
    color: white;
}


/* -------------------------------- MENU NAVEGATOR -------------------------------- */


#div-menu {
    background-color: #0d1117;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: 60px;
    text-align: center;

}



#div-language-opt {
    margin: auto;
}

#div-language-opt select,
option {
    color: white;
    background-color: #0d1117;
    border: 0;
    font-size: 18px;

}

#div-language-opt select:hover {
    color: #5ce1e6;
}


#div-navegator {
    margin: auto;
    text-decoration: none;
}

#div-navegator li {
    float: left;
    list-style: none;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

#div-navegator li:hover {
    transform: scale(1.2);
    color: #5ce1e6;
}

#div-navegator a {
    text-decoration: none;
    color: white;
}

#div-navegator a.active {
    color: #5ce1e6;
}

#div-navegator a:hover {
    color: #5ce1e6;
}

#div-style-opt {
    margin: auto;
}

#div-style-opt button {
    background-color: #0d1117;
    border: 0;
    font-size: 18px;
    transition: transform 0.3s ease;

}

#div-style-opt button:hover {
    transform: scale(1.6);
}











/* -------------------------------- GENERAL -------------------------------- */



#container {
    width: 100%;
}

span {
    color: #5ce1e6;
}



/* -------------------------------- div about -------------------------------- */

#div-about {
    height: 100dvh;
    padding-bottom: 80px;
    padding-top: 60px;
    padding-left: 80px;
}

#about-content {}

#about-content p {}

#p-name {
    font-size: calc(10px + 2vw);

}

#p-job {
    overflow: visible;
    font-size: calc(25px + 8vw);
    line-height: calc(25px + 8vw);
    padding-bottom: 3vw;
}

#p-info {
    width: 60%;

    font-size: calc(10px + 0.7vw);
    padding-top: 20px;
}

#p-button {
    width: 60%;
    font-size: 20px;
    padding-left: 12px;
    padding-top: 40px;
    text-align: center;
}

#p-button button {
    background-color: #5ce1e6;
    height: 45px;
    width: 220px;
    border-radius: 50px;
    border: 0;
    font-size: 18px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

#p-button button:hover {
    transform: scale(1.2);
}



/*  -------------------------------- div experience -------------------------------- */



#div-experience {
    width: 100%;
    margin-bottom: 50px;
}



#experience-content {
    max-width: 700px;
    margin: auto;
}

#div-experience h1 {
    font-size: 58px;
    height: 120px;
    text-align: center;
    padding: 20px;
}

#p-experience {
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 20px;

}

#p-experience span {
    font-size: 30px
}

#div-experience li {}


/*  -------------------------------- div project -------------------------------- */


#div-project {
    width: 100%;
    margin-bottom: 50px;
}


#project-content {
    padding-top: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 950px;
    margin-top: 30px;

}

#div-project h1 {
    font-size: 58px;
    height: 100px;
    text-align: center;
    padding: 20px;
}

#div-project h2 {
    font-size: 38px;
    height: 50px;
    text-align: center;
    padding: 20px;
}


#project {
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    min-height: 300px;
    height: fit-content;
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    display: flex;
    position: relative;
    overflow-x: hidden;

}

#project img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#info-project {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 220px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    justify-content: center;
    align-content: center;
    z-index: 2;
    background-color: #0d1117;

}

#info-project p {
    font-weight: bold;
    width: 100%;
}

#p-FixGarage {
    color: #5ce1e6;
    font-size: xx-large;
}

#p-FixGarage-info {
    position: absolute;
    bottom: 0;
    height: 25%;
    z-index: 3;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 15px;
    padding-top: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#p-GraveLock {
    color: #5ce1e6;

    font-size: xx-large;
}

#p-GraveLock-info {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 15px;
    padding-top: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#p-ModOrganizer {
    color: #5ce1e6;

    font-size: xx-large;
}

#p-ModOrganizer-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 15px;
    padding-top: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#github {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: #0d1117;
    border-radius: 40px;
    background-image: url('../assets/images/github-mark-white.png');
    background-size: cover;
    cursor: pointer;
    margin-bottom: 50px;

    margin-right: 20px;
}

#info {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: #0d1117;
    border: 1px solid white;

    border-radius: 40px;
    background-image: url('../assets/images/infologo.jpg');
    background-size: cover;
    cursor: pointer;
    margin-bottom: 50px;
}

#info-project button:hover {
    scale: 130%;
}

#project:hover #info-project {
    opacity: 1;
}



#technology-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 950px;
    margin-top: 30px;


}

.technology {
    position: relative;
    display: flex;
    height: 64px;
    min-width: 64px;
    margin-top: 30px;
}

.technology:hover {
    scale: 115%;
}



#html {
    border-radius: 8px;
    background-size: cover;
    background-image: url('../assets/images/technologies/html5-icon.png');
}

#css {
    border-radius: 8px;
    background-size: cover;
    background-image: url('../assets/images/technologies/css3-icon.png');
}

#javascript {
    border-radius: 8px;
    background-size: cover;
    background-image: url('../assets/images/technologies/javascript-icon.png');
}

#django {
    border-radius: 8px;
    background-size: cover;
    background-image: url('../assets/images/technologies/django-icon.png');
}

#python {
    border-radius: 8px;
    background-size: cover;
    background-image: url('../assets/images/technologies/python-icon.png');
}

#java {
    border-radius: 8px;
    background-size: cover;
    background-color: white;
    background-image: url('../assets/images/technologies/java-icon.png');
}

#mysql {
    border-radius: 8px;
    background-size: cover;
    background-color: white;
    background-image: url('../assets/images/technologies/mysql-icon.png');
}





/*  -------------------------------- div education -------------------------------- */



#div-education {
    width: 100%;
    margin-bottom: 50px;
}

#p-education span {
    font-size: calc(10px + 0.6vw);
}

#education-content {
    max-width: 700px;
    margin: auto;
}

#div-education h1 {
    font-size: 58px;
    height: 120px;
    text-align: center;
    padding: 20px;
}

#p-education {
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 30px;

}

#div-showmenu {
    display: none;
}


/* #div-experience {
    width: 100%;
    margin-bottom: 50px;
}



#experience-content {
    max-width: 700px;
    margin: auto;
}

#div-experience h1 {
    font-size: 58px;
    height: 120px;
    text-align: center;
    padding: 20px;
}

#p-experience {
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 20px;

}

#p-experience span {
    font-size: 30px
} */


/*  -------------------------------- div contact me -------------------------------- */


#div-contact {
    width: 100%;
    height: 100vh;
    align-content: center;
}

#p-contact span {
    font-size: calc(10px + 0.6vw);
}

#contact-content {
    max-width: 700px;
    margin: auto;
    justify-content: center;
    align-content: center;
}

#div-contact h1 {
    font-size: 58px;
    height: 100px;
    text-align: center;
}

#p-contact {
    margin: auto;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
}

#p-contact h2 {
    padding-bottom: 5px;
}

#p-contact a {
    text-decoration: none;

}





@media only screen and (max-device-width : 400px) {

    /* #project {
        height: 250px
    }

    #info-project {
        height: 20px;
    }

    
    #p-FixGarage-info{
        height: 90px;
    }
    #p-GraveLock-info{
        height: 90px;
    }
    #p-ModOrganizer-info{
        height: 100px;
    } */
}


@media only screen and (max-device-width : 1000px) {

    #div-about {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-content {
        padding-right: 5px;
        padding-left: 5px;
    }

    #about-image {
        display: none;
    }


    #p-info {
        width: 100%;
    }

    #p-button {
        width: 100%;
    }



    #div-about {
        padding-left: 25px;
        padding-right: 25px;
    }


    #experience-content {
        max-width: 90%
    }

    #project-content {
        max-width: 90%
    }

    #technology-content {
        max-width: 90%
    }

    #education-content {
        max-width: 90%
    }





    #div-menu {

        grid-template-columns: 20% 60% 20%;
        font-size: 14px;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;

    }

    #div-language-opt,
    #div-style-opt {
        display: block;
    }

    #div-menu select {
        font-size: 14px;
    }

    #div-menu button {
        font-size: 14px;
    }

    #div-navegator {
        width: 100%;
    }

    #div-showmenu {
        display: block;
        margin-top: 0px;

    }

    #div-showmenu button {
        background-color: #0d1117;
        border: none;
        color: white;
        width: 100%;
        height: 40px;
        margin-top: 0px;

    }

    #div-navegator-ul {
        display: none;
    }

    #div-navegator-li {
        padding-top: 0px;
        padding-bottom: 0px;
    }




    #div-experience h1 {
        font-size: 40px;
    }

    #div-project h1 {
        font-size: 40px;
    }

    #div-project h2 {
        font-size: 30px;
    }

    #div-education h1 {
        font-size: 40px;
    }

    #div-contact h1 {
        font-size: 40px;
    }

}