@font-face {
    font-family: 'Funnel Sans';
    src: local('Funnel Sans'),
        url('../assets/fonts/FunnelSans-VariableFont_wght.ttf') format("truetype");
}

* {
    cursor: var(--cursor);
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
    color: var(--color-fuente);
    background-color: var(--color-fondo)
}

select {
    border: none;
    padding: 2px;
}

:root {

    --imagen-linkedin: url('../assets/images/linkedin.png');
    --imagen-github: url('../assets/images/github.png');
    --imagen-gmail: url('../assets/images/gmail.png');
    --imagen-url: url('../assets/images/externo.png');


    --cursor: url('../assets/images/cursor/cursor.png'), default !important;
    --cursor-button: url('../assets/images/cursor/mano.png'), pointer !important;
    --cursor-button-reverse: url('../assets/images/cursor/light-cursor.png'), pointer !important;


    --color-fuente: black;
    --color-border: black;
    --color-fuente-button: black;
    --color-fondo: white;


}

.dark-theme {

    --imagen-linkedin: url('../assets/images/linkedin-light.png');
    --imagen-github: url('../assets/images/github-light.png');
    --imagen-gmail: url('../assets/images/gmail-light.png');
    --imagen-url: url('../assets/images/externo-light.png');

    --cursor: url('../assets/images/cursor/light-cursor.png'), default !important;
    --cursor-button: url('../assets/images/cursor/light-mano.png'), pointer !important;
    --cursor-button-reverse: url('../assets/images/cursor/mano.png'), pointer !important;


    --color-fuente: white;
    --color-border: white;
    --color-fuente-button: white;
    --color-fondo: rgb(34, 34, 34);
}

#container {
    display: flex;
    width: 1100px;
    margin: auto;
}


.theme-btn,
.theme-btn2,
.light-box,
.dark-box,
.text {
    cursor: var(--cursor-button);
}

.theme-btn,
.theme-btn2 {
    display: flex;
    align-items: center;
    gap: 3px;
}

.light-box {
    border: 1px solid white;
    background-color: black;

    width: 7px;
    height: 7px;
}

.dark-box {
    background-color: white;
    border: 1px solid black;
    width: 7px;
    height: 7px;
}

.text {
    font-size: 12px;
}

.font-box {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-border);
    width: 7px;
    height: 7px;
}

.active {
    background-color: var(--color-border);
    border: 1px solid var(--color-fuente);
}


#options {
    margin-bottom: 60px;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    display: inline-flex;
    gap: 15px;
}

.light-box{
    margin-left: 10px;
}

#main-div {
    margin: auto;
    margin-left: 50px;
    margin-top: 60px;
    max-width: 800px;
}

#about-me #name {
    font-weight: bold;
    font-size: 60px;
}

#about-me #name {
    position: relative;
}

#about-me #name::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-top: 2px solid var(--color-border);
    border-right: 2px solid var(--color-border);
}


#about-me #job {
    position: relative;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-border);
}


#about-me #info {
    font-size: 18px;
    font-weight: 200;
}

#cv {
    height: 100px;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
}

button {
    cursor: var(--cursor-button);
    background-color: var(--color-fondo);
    font-size: 18px;
    width: 200px;
    height: 40px;
    position: relative;
    border: 0px;
    transition: ease 0.1s;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border);
    transition: ease 0.6s;

}

button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-right: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    transition: ease 0.6s;
}

button:hover {
    scale: 140%;
}

button:hover::before {
    width: 190%;
    height: 92%;
}

button:hover::after {
    width: 190%;
    height: 92%;
}

.title-section {
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    border-right: 20px solid var(--color-border);
    padding-right: 30px;
}


#experience {
    margin-bottom: 80px;
}

#experience .child {
    margin-top: 40px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
    transition: ease 0.2s;


}

#experience .child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid var(--color-border);
    transition: ease 0.2s;
}

#experience .child:hover {
    padding-left: 40px;
}

#experience .child:hover::before {
    border-right: 15px solid var(--color-border);
}

#experience .child .experience-name {
    font-size: 40px;
    font-weight: 100;
}

#experience .child .experience-company {
    font-size: 20px;
    font-weight: 800;
}

#experience .child .experience-date {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

#experience .child .experience-info {
    padding-left: 10px;
}







#projects {
    margin-bottom: 100px;
}

#projects .child {
    margin-top: 40px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

#projects .child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border);
}

#projects .child .project-name {
    font-size: 55px;
    font-weight: 100;
    transition: padding-left 0.5s ease-out;
}

#projects .child .project-name:hover {
    padding-left: 17%;
}

#projects .child a {
    text-decoration: none;
    color: var(--color-fuente);
}

#projects .child .project-info {
    font-size: 18px;
    font-weight: 200;
    padding-left: 10px;
}

#projects .child .project-tech {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}






#education {
    margin-bottom: 70px;
}

#education .child {
    margin-top: 40px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;

}


#education .child {
    margin-top: 40px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
    transition: ease 0.2s;


}

#education .child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid var(--color-border);
    transition: ease 0.2s;
}

#education .child:hover {
    padding-left: 40px;
}

#education .child:hover::before {
    border-right: 15px solid var(--color-border);
}

#education .child .education-title {
    font-size: 20px;
    font-weight: 800;
}

#education .child .education-date {
    font-size: 15px;
    font-weight: 600;
}

#education .child .education-center {
    font-size: 18px;
}



#contact-url {
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contact-url a{
    text-decoration: none;
    cursor: var(--cursor-button);
}

#contact-url .child {
    text-align: center;
    padding-top: 100px;
}

#contact-url .child .contact-title {
    font-size: 25px;
    font-weight: 800;
}

#contact-url .child .contact-info {
    cursor: text;
    font-size: 19px;
    padding-bottom: 30px;
}


#contact-url .child img {
    content: var(--imagen-url);
    cursor: var(--cursor-button);
    margin-right: 10px;
    width: 16px;
    transform: translateY(20%);
    transition: ease 0.3s;
}

#contact-url .child img:hover {
    scale: 140%;
}

#contact-url::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid var(--color-border);
    border-right: 2px solid var(--color-border);
}

#contact-url::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid var(--color-border);
    border-left: 2px solid var(--color-border);
}

#contact {

    width: 100px;
    height: 100px;
    position: sticky;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact img {
    cursor: var(--cursor-button-reverse);
    margin-right: 100px;
    display: block;
    width: 35px;
    padding: 8px;
    margin-bottom: 10px;
    transition: ease 0.2s;
}

#contact #github {
    content: var(--imagen-github)
}

#contact #linkedin {
    content: var(--imagen-linkedin)
}

#contact #gmail {
    content: var(--imagen-gmail)
}

#contact img:hover {
    scale: 125%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    opacity: 1;
    transition: 1s ease-in-out;

}

.load-bar {
    padding-top: 15px;
    width: 0px;
    margin: auto;
    border-bottom: 2px solid black;
    transition: width ease 1s;
}


.loading {
    width: 400px;
}



.popup-content {
    text-align: center;
    width: 800px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.fade-out {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@media screen and (max-width: 1200px) {


    #container {
        width: 90%;
        margin: auto;
    }

    #main-div {
        margin: auto;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact {
        display: none;
    }

    #about-me,
    #experience,
    #projects,
    #education,
    #contact-url {
        width: 100%;
        padding: 10px;
    }



    button,
    a {
        touch-action: manipulation;
    }


}

@media screen and (max-width: 600px) {

    #main-div {
        margin-top: 30px;
    }

    #about-me,
    #experience,
    #projects,
    #education,
    #contact-url {
        margin-bottom: 10px;
    }

    #contact-url .child {
        padding-top: 40px;
        margin-bottom: 30px;
    }

    #contact-url {
        margin-bottom: 40px;
    }

    p {
        font-size: 90% !important;
    }

    #name {
        font-size: 30px !important;
    }

    #job {
        font-size: 20px !important;

    }

    .title-section {
        font-size: 20px !important;
    }

    .experience-name {
        font-size: 26px !important;
    }

    .project-name {
        padding: 10px 0px;
        font-size: 36px !important;
    }

    .popup-content {
        font-size: 90%;
        width: 400px;
    }

    .loading {
        width: 310px;
    }

    button,
    a {
        touch-action: manipulation;
    }


}